/* Identical to MDN speak-easy-synthesis: https://mdn.github.io/dom-examples/web-speech-api/speak-easy-synthesis/ */
.speech-test body,
.speech-test html {
  margin: 0;
}

.speech-test html {
  height: 100%;
}

.speech-test body {
  height: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.speech-test h1,
.speech-test p {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.speech-test .txt,
.speech-test select,
.speech-test form > div {
  display: block;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  padding: 5px;
}

.speech-test .txt {
  width: 80%;
}

.speech-test select {
  width: 83%;
}

.speech-test form > div {
  width: 81%;
}

.speech-test .txt,
.speech-test form > div {
  margin-bottom: 10px;
  overflow: auto;
}

.speech-test .clearfix {
  clear: both;
}

.speech-test label {
  float: left;
  width: 10%;
  line-height: 1.5;
}

.speech-test .rate-value,
.speech-test .pitch-value {
  float: right;
  width: 5%;
  line-height: 1.5;
}

.speech-test #rate,
.speech-test #pitch {
  float: right;
  width: 81%;
}

.speech-test .controls {
  text-align: center;
  margin-top: 10px;
}

.speech-test .controls button {
  padding: 10px;
}
